{
	"data": "ENC[AES256_GCM,data:RdNjRW8DioYuv/oZbRcSblmqu1NY6l+0bOJBhTY4+rgcLoGNEWc58XmbQPHinEZF4LV77KACS6xyB6C7Eh2k8CTO9hk8InGEX73PZXq3xGzWK8GqK/7KbPmka1L/lIZKFHpGnD0VeVUsgYB7PG0KP35iyiX6foSz/iwPciHyr8ALBoFsruo5gytmmMusqNLqUEbHA4tH9opBtVpV8rHHyDo8RWCR2LKwjb317Tz5bZHxAW/a5nmN6rdxTplvE/+C+mDxU1yHfcMfIapU849nw/jsPuOznGXmpDs22rM=,iv:p7cEWAVFRNsr6EEm9Svj+0G218iCvOCzWgefaQmowTc=,tag:FZ09tmaXiNqnxCvfoSiXqg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1h6umfmvsvsffkdlyy8tfxqremdemzugsgmwdsxuhhd52th9fdu4sw3sdfj",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3MUgvNXlHZG5lYUo4NjFp\nTEx0YURqcUk5UkpjaWtxZDdDZ2R5MWpWMEZRCjVXRkRHVUJla0ZFdGUya3NlK3lx\nVzN1SFlxTlRIMlVIcTlCUEx4eklCd1EKLS0tIFlqbXNqRXJKNHZVVHYwTlZMa2o0\neFR1UUZRaEFTR2dpYVFQK0hudGhwVGcKdtKrMIxwH/ZZ6X8UeOxWzvi4xBVUnAO8\nMCMXr5C0dEjHqVn393t3BwdkWbVasyaNiMmQ8hJEtcjyajpzj++mSA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-12-30T13:18:30Z",
		"mac": "ENC[AES256_GCM,data:TXOps6bDm5OiG/mBwSq2hMG4/KdUZs02tghcYO23UiRoIIEhhAY50764huBN3C5Dp/LSeQUVDLihLy7xZ3vMbLMC+1q3WSOxuBj2CTLJW/tOCzdWpInw+LHo3MK8RgzD2NAxXcPJD14Rpbn7qyS5wa+ocEcvRGg9GSM/TQamRe0=,iv:8jowtNn6xhABj9E0cmTUvJS1jwtFESJtF0kDxwgpW4Y=,tag:9FkHB3lGpjIBlb7OmZAdKw==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}