{
	"data": "ENC[AES256_GCM,data:PbbQ92+xWg/Mmw9Kf3qb5JlCT3FwRJ/1frVdTDMohAVCL+qzrbAUF0njgphDiVHroU3jENUY5WV0nMALXR9woCVsbEsidnULRhbyk0teQiWDM7tx8dJ81Yu0K/KV+TWgLLwO8at3+Cu2kOv9pjh/rJ54IaEaccY=,iv:HFrbu8uz7LGuwqlmFdWLmwpTGCYQW5st1JUyZuBii00=,tag:vEsK8we8cr1WK5A0BkBPrg==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1h6umfmvsvsffkdlyy8tfxqremdemzugsgmwdsxuhhd52th9fdu4sw3sdfj",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB3MUgvNXlHZG5lYUo4NjFp\nTEx0YURqcUk5UkpjaWtxZDdDZ2R5MWpWMEZRCjVXRkRHVUJla0ZFdGUya3NlK3lx\nVzN1SFlxTlRIMlVIcTlCUEx4eklCd1EKLS0tIFlqbXNqRXJKNHZVVHYwTlZMa2o0\neFR1UUZRaEFTR2dpYVFQK0hudGhwVGcKdtKrMIxwH/ZZ6X8UeOxWzvi4xBVUnAO8\nMCMXr5C0dEjHqVn393t3BwdkWbVasyaNiMmQ8hJEtcjyajpzj++mSA==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-11-10T12:59:22Z",
		"mac": "ENC[AES256_GCM,data:uj6BL18HKkViBc0LzWNym9t/Vb/n0VCPlHAQQ3OJEU8OrBYvLrMxxVmf6MOYKXPu7eDtIwfibUpZp6wotCENh+hTsvqIfWcSuDMwafkleybg0Sg7sRZx9F0n66i7fBAGTzX26CnDR/0vLMFP9rccGkGQSdrkL/dH2uDj/bliWpU=,iv:0dYigPmzJgNbSAr8IdXt2JyevP/XvpXe9gQxr+lmrjg=,tag:o1aaYNOb/4/mrJj5mIxyGg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.8.1"
	}
}